{% extends "base.html" %}

{% block title %}Alteração de senha{% endblock %}

{% block content %}
<p></p>
<p class="text-center fs-4">
    TERMOS E CONDIÇÕES GERAIS PARA CADASTRAMENTO DE CURRÍCULO NA RÁDIO ITATIAIA
</p>

<div class="card-body bg-light" >

  <p class="lh-sm">Os termos e condições abaixo se aplicam aos benefícios e serviços disponibilizados pela RÁDIO ITATIAIA para inclusão em seu banco de currículos online.</p>
  <p class="text-center">1. CONSIDERAÇÕES INICIAIS</p>
  <p class="lh-sm">1.1. O(A) CANDIDATO(A) DECLARA TER CONHECIMENTO QUE AO ENVIAR UM CURRÍCULO À RÁDIO ITATIAIA IMPLICARÁ NA ACEITAÇÃO DE TODOS OS TERMOS DESTE CONTRATO.</p>
  <p class="text-center">2. CADASTRO DO CURRÍCULO DO(A) CANDIDATO(A)</p>
  <p class="lh-sm">2.1. Ao se cadastrar, O(A) CANDIDATO(A) compromete-se a fornecer informações verdadeiras, atualizadas e completas.</p>
  <p class="lh-sm">2.2. A inserção, correção, bem como a veracidade de todos os dados e informações fornecidos pelo (a) CANDIDATO(A) no cadastramento de seu currículo, serão de sua inteira responsabilidade.</p>
  <p class="lh-sm">2.3. Fica proibido o cadastramento do currículo por parte de PESSOAS JURÍDICAS e o uso dos dados desta, este cadastro é reservado para PESSOAS FÍSICAS.</p>
  <p class="lh-sm">2.4.1. É OBRIGATÓRIO o envio do currículo, pois assim ajudará na confirmação dos dados cadastrados.</p>
  <p class="lh-sm">2.4.2. O envio do currículo é realizado através do sistema de "UPLOAD" no final do cadastramento, sendo este arquivo nas extensões: .doc / .docx / .pdf, não sendo aceito outros tipos de arquivo.</p>
  <p class="text-center">3. E-MAIL E ARMAZENAMENTO DE E-MAIL</p>
  <p class="lh-sm">3.1. O(A) CANDIDATO(A) autoriza expressamente a RÁDIO ITATIAIA a enviar e-mail pertinente a toda e qualquer comunicação da empresa e das VAGAS oferecidas.</p>
  <p class="text-center">4. PREÇO E LIMITE DE ACESSO</p>
  <p class="lh-sm">4.1. O cadastramento e a permanência do currículo são GRATUITOS, não havendo limite de tempo para que O(A) CANDIDATO(A) permaneça cadastrado.</p>
  <p class="text-center">5. PRIVACIDADE E USO DE INFORMAÇÕES DO(A) CANDIDATO(A)</p>
  <p class="lh-sm">5.1. É política da RADIO ITATIAIA respeitar a privacidade de seus USUÁRIOS. Assim sendo, a RADIO ITATIAIA não monitorará, editará ou revelará nenhuma informação DO(A) CANDIDATO(A) ou sobre o uso destes serviços PELO(A) CANDIDATO(A), sem sua permissão, ou sem o exclusivo fim de participação em processo de seleção.</p>
  <p class="lh-sm">5.2. Não possuímos parceria com nenhum outro site ou empresa, os dados dos candidatos não serão comercializados emprestados ou cedidos para qualquer outro fim que não seja o objetivo sugerido pela RADIO ITATIAIA.</p>
  <p class="lh-sm">5.3. O(A) CANDIDATO(A) AUTORIZA A RADIO ITATIAIA, A ENVIAR INFORMAÇÕES ATRAVÉS DE TORPEDO SMS PARA SEU CELULAR, WHATSAPP OU AINDA ATRAVÉS DE E-MAIL.</p>
  <p class="text-center">6. OBRIGAÇÕES DO(A) CANDIDATO(A)</p>
  <p class="lh-sm">6.1. O(A) CANDIDATO(A) compromete-se a comparecer às entrevistas, ou local indicado pela mesma, ou na empresa contratante, caso seja agendado esse compromisso;</p>
  <p class="lh-sm">6.2. Ser honesto, verdadeiro e sincero em todo o tempo no relacionamento com a RADIO ITATIAIA, dizendo realmente o que deseja em sua vida profissional.</p>
  <p class="lh-sm">6.3. Candidatar-se somente a vagas que sejam realmente de seu interesse profissional, especificar durante o cadastramento.</p>
  <p class="lh-sm">6.4. NÃO enviar/divulgar para os e-mails da RADIO ITATIAIA, e-mails contendo quaisquer tipos de vírus ou que possam causar danos ao seu destinatário ou terceiros, correntes ou mensagens similares. Utilizar os e-mails de contato da RADIO ITATIAIA apenas para fins profissionais e não pessoais.<p>
  <p class="lh-sm">6.5. Informar à RADIO ITATIAIA, quando já estiver trabalhando, e quanto não tiver mais interesse de manter o cadastro, ou mesmo não for do interesse ser encaminhado ou avisado de possíveis vagas;</p>
  <p class="lh-sm">6.6. Na hipótese de a RADIO ITATIAIA constatar que O(A) CANDIDATO(A) descumpriu qualquer das obrigações estabelecidas nas Cláusulas 6.1, 6.2, 6.3, 6.4 e 6.5 acima, fica assegurado o direito da RADIO ITATIAIA de SUSPENDER o cadastro DO(A) CANDIDATO(A), ficando o mesmo em situação profissional negativa, no que diz respeito a ética e conduta profissional.</p>
  <p class="text-center">7. RESPONSABILIDADE DA RADIO ITATIAIA</p>
  <p class="lh-sm">7.1. A RADIO ITATIAIA NÃO SE RESPONSABILIZA PELA COLOCAÇÃO OU RECOLOCAÇÃO PROFISSIONAL DE QUALQUER CANDIDATO(A), NEM TÃO POUCO, PELAS CONSEQUÊNCIAS, AOS USUÁRIOS ADVINDAS DE SUA COLOCAÇÃO OU RECOLOCAÇÃO ATRAVÉS DOS SERVIÇOS PRESTADOS PELA ACTIO CONSULTORIA & TREINAMENTO, OU SEJA, NÃO HÁ GARANTIA DE EMPREGO E NEM DE SATISFAÇÃO PROFISSIONAL.</p>
  <p class="lh-sm">7.2. A RADIO ITATIAIA NÃO SE RESPONSABILIZA POR DANOS À VIDA PROFISSIONAL DO(A) CANDIDATO(A),EM VIRTUDE DE SEU ATUAL CONTRATANTE SOUBEREM UMA EVENTUAL CONSULTA DE REFERÊNCIAS PROFISSIONAIS, DO SEU CADASTRO NA RADIO ITATIAIA.</p>
  <p class="lh-sm">7.3. A RADIO ITATIAIA não exige apresentação de números de documentos como identidade, CPF, Carteira de Trabalho ou Título de Eleitor no ato do cadastro. Essas informações poderão vir a ser solicitadas posteriormente durante o processo seletivo.</p>
  <p class="text-center">8. RENOVAÇÃO E RESCISÃO DO CONTRATO</p>
  <p class="lh-sm">8.1. O presente contrato é de duração indeterminada permanecendo válido enquanto O(A) CANDIDATO(A) mantiver seu currículo cadastrado na RADIO ITATIAIA observadas todas as disposições dos artigos 6º e 7º deste termo.</p>
  <p class="lh-sm">8.2. Nos casos em que o CANDIDATO(A) já tenha solicitado a retira  de seu currículo de nosso banco de dados, mas a posterior decidir incluir novamente poderá fazer renovação dos dados sem restrições durante o cadastramento, a seu critério, a RADIO ITATIAIA irá fazer uma varredura para disponibilizar os dados mais atualizados do CANDIDATO(A);</p>
  <p class="lh-sm">8.2.1. A Ressalva no texto acima será apenas em caso o CANDIDATO(A) tenha sido BANIDO dos banco de dados, por algo que tenha causado de grave a RADIO ITATIAIA, ou por ter descumprido pontos relevantes deste TERMO DE ADESÃO, assim não será permitida a RENOVAÇÃO.</p>
  <p class="lh-sm">8.3. Nos casos em que as regras de cadastramento sejam quebradas, a seu critério, a RADIO ITATIAIA irá bloquear novas inclusões do currículo do usuário, sem a necessidade de comunicar ao usuário.</p>

</div>
<p></p>
<a class="btn btn-lg btn-dark" href="/account" role="button">Voltar</a>
<p></p>

{% endblock %}