{% extends "baselogin.html" %}

{% load bootstrap %}

{% block title %}Alterando sua senha{% endblock %}

{% block content %}
    <main class="form-signin">
        <form method="post" novalidate>
            {% csrf_token %}
            <img class="mb-4" src="https://www.itatiaia.com.br/images/Logo_Itatiaia_Radio_Branco.png" alt="" width="151" height="88">
            <h1 class="h3 mb-3 fw-normal">Altere a sua senha.</h1>
            <div class="form-floating">
                {{ form | bootstrap }}
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Alterar</button>
            <p></p>
            <a class="w-100 btn btn-lg btn-dark" href="/account" role="button">Voltar</a>
        </form>
    </main>
{% endblock %}