{% extends "baselogin.html" %}

{% load bootstrap %}

{% block title %}Reset de senha{% endblock %}

{% block content %}
    <main class="form-signin">
        <form method="post">
            {% csrf_token %}
            <img class="mb-4" src="https://www.itatiaia.com.br/images/Logo_Itatiaia_Radio_Branco.png" alt="" width="151" height="88">
            <p>Entre com o e-mail cadastrado.</p>
            <div class="form-floating">
                {{ form | bootstrap }}
            </div>
            <p></p>
            <button type="submit" class="btn btn-lg btn-dark">Enviar</button>
            <a class="btn btn-lg btn-dark" href="/account/login" role="button">Voltar</a>
        </form>
    </main>
{% endblock %}